.Canvas {
  .canvasContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 2rem 1.5rem 1.5rem;
    canvas {
      box-shadow: 11px 17px 34px -10px #e5c3f0;
    }
  }
  .toolbox {
    margin-left: 2rem;
  }

  .status {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: none;
    margin: 0rem 1rem 1rem 1rem;
    text-align: center;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 120%;
    font-weight: bold;
    font-family: monospace;
  }
}
