
.Canvas {

  .canvasContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    canvas {
      box-shadow: 11px 17px 34px -10px #e5c3f0;
    }
  }

  .status {

    border: 0.5rem black solid;
    margin: 1rem 1rem;
    text-align: center;
  }
}